:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

                                /* Скидання */
   
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--slate);
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}


.header {
}

.header-logo {font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--navy-blue);
}
.span {font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--navy-blue);
}


.header-nav {
}

.header-nav-list {
}
.header-nav-list-item {
}
.header-contacts {
}
.header-contacts-list {
}
.header-contacts-list-item {
}
.main {
}
.hero {
}
.hero-title {
}
.hero-btn {
}feature
.visually-hidden {
}
.features-list {
}
.features-list-item {
}
.features-list-item-title {
}
.features-title {
}
.team {
}
.team-title {
}
.team-list {
}
.team-list-item {
}
.team-list-item-title {
}
.team-list-item-position {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-item-title {
}
.portfolio-list-item-description {
}
.footer {
}
.footer-logo {
}
.footer-text {
}